@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-color: #f5f5f5;
    --text-color: #000000;
    --auth-bg: #e2e4cd;
    --footer-bg: #ededed;
    --habitBanner-bg: #eeeeee;
    --auth-bg: #ffffff;
    --subcard-bg: #e2e4cd;
    --menu-bg: #ffffff;
    --menuHover-bg: #f2f2f2;
  }

  [data-theme="dark"] {
    --bg-color: #121212;
    --text-color: #ffffff;
    --footer-bg: #0a0a0a;
    --habitBanner-bg: #0a0a0a;
    --auth-bg: #252525;
    --subcard-bg: #323232;
    --menu-bg: #252525;
    --menuHover-bg: #393939;
  }

  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
}
